# This workflow will upload a Python Package
name: publish
on:
  push:
    tags: ['v*.*.*']
  release:
    types: [created]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v5
      with:
        version: "latest"
        python-version: '3.9'

    - name: Build and Publish
      run: |
        uv build
        uv publish --username="__token__" --password="${{ secrets.PYPI_TOKEN }}"
